[Unit]
Description=A paste server
After=network.target

[Service]
Type=simple
User=plakken

ExecStart=/usr/bin/plakken

EnvironmentFile=/etc/plakken/env

NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=true
RestrictNamespaces=true
PrivateTmp=true
PrivateDevices=true
ProtectClock=true
ProtectControlGroups=true
ProtectKernelTunables=true
ProtectKernelLogs=true
ProtectKernelModules=true
LockPersonality=true
RestrictSUIDSGID=true
RemoveIPC=true
RestrictRealtime=true
SystemCallFilter=@system-service
SystemCallArchitectures=native
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target