:root {
    --accent: #be0560;
    --background: #121212;
    --border: #333;
    --text: #e6e6e6;
    --placeholder: #666;
}

body {
    background-color: var(--background);
    color: var(--text);
    font: 400 15px/2 "system-ui", monospace;
    margin: 0;
}

form {
    display: flex;
    flex-flow: row wrap;
}

#lines {
    color: var(--placeholder);
    font: 400 14px/1.6 "JetBrains Mono", monospace;
    height: calc(100vh - 29px);
    overflow-y: hidden;
    padding: 8px 0;
    text-align: center;
    user-select: none;
    width: 26px;
}

input, select {
    background-color: var(--background);
    border: 2px solid var(--border);
    border-radius: 2px;
    color: var(--text);
    font-size: 13px;
    outline: none;
    padding: 6px 8px;
    transition: border .15s ease;
}

input:hover, select:hover {
    border-color: var(--text);
}

button, textarea {
    background-color: inherit;
    border: none;
    outline: none;
    resize: none;
}

#content {
    color: var(--text);
    font: 400 14px/1.6 "JetBrains Mono", monospace;
    height: calc(100vh - 29px);
    padding: 8px;
    width: calc(100vw - 45px);
}

nav {
    top: 1rem;
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    right: 12px;
}

ul {
    display: flex;
    flex-flow: row wrap;
    gap: 36px;
    list-style: none;
    margin: 0;
    padding: 0 1.9rem;
}

svg {
    cursor: pointer;
    height: 24px;
    fill: var(--text);
    transition: .15s ease;
    width: 24px;
}

svg:hover {
    stroke: #fff;
}

input:focus-visible, select:focus-visible {
    border: 2px solid var(--text);
}

::selection {
    background-color: var(--accent);
    color: #fff;
}