:root {
    --accent: #be0560;
    --background: #141414;
    --border: #333;
    --text: #e2e2e2;
}

body {
    background-color: var(--background);
    color: var(--text);
    font: 400 15px/2 "system-ui", monospace;
    margin: 0;
}

button, textarea {
    background-color: inherit;
    border: none;
}

textarea {
    color: var(--text);
    font: 14px/1.6 "JetBrains Mono", monospace;
    height: calc(100vh - 3rem);
    outline: none;
    padding: 1rem;
    resize: none;
    width: calc(100vw - 2rem);
}

nav {
    align-items: end;
    bottom: 1rem;
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    right: 1rem;
}

ul {
    display: flex;
    flex-flow: row wrap;
    gap: 2.6rem;
    list-style: none;
    margin: 0;
    padding: 0 1.9rem;
}

label {
    display: block;
}

input, select {
    background-color: var(--background);
    border: 2px solid var(--border);
    border-radius: 2px;
    color: var(--text);
    font-size: 15px;
    outline: none;
    padding: 5px 6px;
    transition: border .15s ease;
}

input:hover, select:hover {
    border-color: var(--text);
}

svg {
    fill: none;
    height: 26px;
    stroke: var(--text);
    stroke-width: 2;
    stroke-linecap: round;
    transition: .15s ease;
    width: 26px;
}

svg:hover {
    stroke: #fff;
}

input:focus-visible, select:focus-visible {
    border: 2px solid var(--text);
}

button:focus-visible{
    outline: none;
}

::selection {
    background-color: var(--accent);
    color: #fff;
}