@use 'colors' as *;

@use 'inputs';
@use 'recents';
@use 'misc';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono&display=swap');

body {
  background-color: $background;
  color: $text;
  font: 400 16px/2 "Inter", "system-ui", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.fr {
  display: flex;
  flex-flow: row wrap;
}

#line-numbers,
#content {
  font: 400 14px/1.6 "JetBrains Mono", monospace;
}

#line-numbers {
  color: $placeholder;
  padding: 16px 1px;
  text-align: center;
  white-space: pre;
  width: 30px;
}

#content {
  color: $text;
  height: 100%;
  min-height: 90vh;
  padding: 16px 16px 0 16px;
  width: calc(100vw - 65px);
}

.menu {
  gap: 18px;
  position: fixed;
  right: 16px;
  top: 16px;

  svg {
    cursor: pointer;
    height: 24px;
    fill: none;
    margin-bottom: -6px;
    stroke: $text;
    stroke-width: 2;
    width: 24px;
  }
}

input,
select {
  background-color: $background;
  border: 2px solid $border;
  color: $text;
  font: 500 14px/2 "Inter", "system-ui", sans-serif;
  outline: none;
  padding: 3px 10px;
  width: 150px;
  transition: .15s ease;

  &::placeholder {
    color: $placeholder;
  }

  &:hover {
    border-color: #555;
  }

  &:focus-visible {
    border: 2px solid #bbb;
  }
}

select {
  padding: 8px 10px;
  width: fit-content;
}

select:focus {
  background-color: $background;
  transition: none;
}

option {
  background-color: $background;
  color: $text;

  &:focus {
    background-color: $accent;
    color: $background;
  }
}

button,
textarea {
  background-color: inherit;
  border: none;
  margin: 0;
  outline: none;
  resize: none;
}