<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="Plakken, paste, pastebin" name="keywords">
    <meta content="Plakken is a simple open-source paste service where you can store store text for a set period of time."
          name="description">
    <meta content="Plakken" name="author">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Plak {{.Key}} • Plakken</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
<pre><code>{{.Content}}</code></pre>
</body>
</html>